<!DOCTYPE html>
<html>
<head>
    <title>All Plots</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Include necessary CSS and JavaScript libraries for Plotly -->
    <!-- Add any additional styling or scripts if needed -->
</head>
<body>
    <div id="chart1">{{ plot_div1|safe }}</div>
    <div id="chart2">{{ plot_div2|safe }}</div>
    <div id="chart3">{{ plot_div3|safe }}</div>
    <div id="chart4">{{ plot_div4|safe }}</div>
    <div id="chart5">{{ plot_div5|safe }}</div>
    <div id="chart6">{{ plot_div6|safe }}</div>
    <div id="chart7">{{ plot_div7|safe }}</div>
    <div id="chart7">{{ plot_div8|safe }}</div>
</body>
</html>